include *.py *.txt *.tle *.tif *.ico *.svg *.png *.sh *.json *.kmz *.bat
recursive-include movinglines *.py *.txt *.tle *.tif *.ico *.svg *.png *.sh *.json *.kmz *.bat
recursive-include movinglines/flt_module *.png *.PNG *.flt
recursive-include movinglines/map_icons *.png *.txt 
recursive-include movinglines/mpl-data *.svg *.ppm *.xpm *.gif *.png 
recursive-include movinglines/hooks *.py
recursive-include flt_module *.png *.PNG *.flt
recursive-include map_icons *.png *.txt 
recursive-include mpl-data *.svg *.ppm *.xpm *.gif *.png 
recursive-include hooks *.py
recursive-include fp *.py
recursive-exclude dist *
recursive-exclude build *
recursive-exclude movinglines/build *
recursive-exclude movinglines/dist *
recursive-exclude movinglines.egg-info *

